@media screen and (min-width:600px) {   
    model-viewer{
        right: 100px;
        position: absolute;
        width: 500px;
        height: 500px;
    }
}
@media screen and (max-width:600px) {   
    model-viewer{
        margin-top: 100px;
        left: 1px;
        position: absolute;
        width: 500px;
        height: 500px;
    }
}
@media screen and (min-width:1000px) {   
    model-viewer{
        top:100px;
        right: 100px;
        position: absolute;
        width: 900px;
        height: 900px;
    }
}
